<div class="simple-time">

  <div class="simple-time-title">
    
    <p class="small quiet">
      <%= user_gravatar time.user, :size => 22 %> 
      <%= RetroI18n._('%{user} on %{date}',
          :user => link_to(h(time.user.name), project_simple_times_path(Project.current, params.only(:c).merge(:u => time.user))), 
          :date => date_format(time.created_at)) %> |
          <%= h(time.work) %> |
          <%= h(time.hours.to_s) %>
    </p>
  </div>

  </div>
  
</div>
