/*.simple-times .markup {
  font-family: Georgia, "DejaVu Serif", "Bitstream Vera Serif", "Vera Serif", serif;
}

.simple-times .blog-title img { vertical-align:middle; }

.blog-navigation dt { margin-bottom: 0.5em; }
.blog-navigation dd { margin: 2px 0 0 0; }

.simple-times #blog-comment-form { margin-top: 2.5em; }

.simple-times .markup p,
.simple-times .markup td,
.simple-times .markup li { font-size: 1.1em; line-height:1.4; }
*/